.navbar {
  background: $cyan;
  display: flex;
  height: 60px;
  position: relative;

  .container {
    display: flex;
    width: 100%;
  }

  #nav-check {
    display: none;
  }

  &__mobile-buttons {
    display: none;

    .nav-check {
      display: none;
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 30px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    a,
    img {
      padding: 0.5rem 1rem;
    }

    a {
      color: $color-text-white;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      &:focus,
      &:hover {
        color: $white;
      }
    }
  }
}
